a { color:#E00032; } 
a:visited { color:#E00032; } 
a:active { color:#E00032; } 
a:hover { color:#000000; } 
#menu_40998b53 a { text-decoration: none; }
#menu_40998b53_pane { background-color: #C1E3F5; border: 1px solid #C1E3F5; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_40998b53_hr { background-color: #C1E3F5; height: 1px; border: none; }
#menu_40998b53_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_40998b53_entry:hover { background-color: #C1E3F5; color: #FFFFFF !important; }
#menu_40998b53_entry:hover span { color:#FFFFFF !important; }
		.menu_40998b53_mainMenuEntry { text-align: center; }
		.menu_40998b53_mainMenuEntry:hover {	background-color:#5398C1; }
		.menu_40998b53_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_40998b53 .mobileEntry { display: none; } 
		#menu_40998b53 .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_40998b53 .mobileEntry { display: block; } 
			#menu_40998b53 .normalEntry { display: none; } 
		}
body { background-color:#133174; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_34839493 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:466px; max-width:1200px; background:none;  }
#container_34839493_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_435bc3a2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#C1E3F5;  }
#container_435bc3a2_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:28pt; font-family:'Arial Black', Gadget, sans-serif; color:#133174; text-shadow: 2px 2px 4px #A1A1A1;  }
#menu_40998b53 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#133174;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:85px; height:55px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:55px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:25px;  }
.textstyle5 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#E00032; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:113px; height:55px; left:110px;  }
.menustyle4 { position:absolute; width:85px; height:55px; left:223px;  }
.textstyle6 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
#container_797d7dd3 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:100%; min-height:391px; background-color:#5398C1;  }
#container_797d7dd3_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle7 { font-size:16pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle8 { font-size:15pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:15pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
.textstyle10 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_43761263 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background-color:#5398C1;  }
#container_43761263_padding { margin: 10px; display: block;  }
#container_2c341bf2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_2c341bf2_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
@media only screen and (max-width: 750px)
{
		#container_34839493 { width:100%;  }
}
@media only screen and (max-width: 650px)
{
		#container_797d7dd3 { width:99%;  }
		#container_2c341bf2 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_435bc3a2 * span { font-size:24pt;  }
}
@media only screen and (max-width: 435px)
{
		#container_435bc3a2 * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_435bc3a2 * span { font-size:12pt;  }
}
